.footer {
  justify-content: center;
  align-items: center;
  color: #8c2198;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.footer > a {
  color: #8c2198;
  text-decoration: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.footer > a:hover {
  color: #46eca4;
  text-decoration: underline;
}

.footer > a > img {
  width: 30px;
}
