.builder-container {
  justify-content: space-between;
  width: 97vw;
  margin: 1rem;
  gap: 1rem;
}

.builder-container > div {
  gap: 1rem;
  width: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (max-width: 1000px) {
  .builder-container {
    flex-direction: column;
  }
  .builder-container > div {
    width: 78%;
  }
}
