h3 + h5 {
  font-weight: 400;
  font-size: 0.8rem;
}

body {
  background-color: #f5f6f8;
  background-image: url("../img/logo-bg.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 10%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.button-color {
  background-color: #8c2198;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  width: 60px;
  transition: background-color 0.2s;
}

.button-color:hover {
  background-color: #46eca4;
}

.button-clear {
  position: absolute;
  right: 2rem;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
